repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace  # Trim trailing whitespace at the end of lines.
    -   id: end-of-file-fixer  # Make sure files end in a newline and only a newline.
    -   id: check-added-large-files  # Prevent giant files from being committed.
    -   id: check-case-conflict  # Check for files that would conflict in case-insensitive filesystems.
    -   id: check-docstring-first  # Check a common error of defining a docstring after code.
    -   id: check-merge-conflict  # Check for files that contain merge conflict strings.

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args: [ --fix, --ignore, FIX ]  # Allow committing with TODOs. Only CI checks should prevent merging with TODOs.
      - id: ruff-format

ci:
    autoupdate_commit_msg: 'chore: Update pre-commit hooks'
    autoupdate_schedule: quarterly
