name: Release

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    name: Publish to PyPI
    environment: release
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - uses: ./.github/actions/setup-uv

      - name: Build
        run: uv build

      - name: Publish package distributions to PyPI
        run: uv publish -v
