name: Tests

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '41 16 * * *'  # Every day at 16:41 UTC (to avoid high load at exact hour values).

env:
  UV_NO_SYNC: 1

jobs:
  tests:
    # Default config: py3.14, ubuntu-latest, float32, full options.
    # The idea is to make each of those params vary one by one, to limit the number of tests to run.
    name: Run tests (py${{ matrix.python-version || '3.14' }}, ${{ matrix.os || 'ubuntu-latest' }}, ${{ matrix.dtype || 'float32' }}, ${{ matrix.options || 'full' }})
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Python version variations
          - python-version: '3.10'
          - python-version: '3.11'
          - python-version: '3.12'
          - python-version: '3.13'
          - python-version: '3.14'  # To actually run the default config
          # OS variations
          - os: macOS-latest
          - os: windows-latest
          # dtype variations
          - dtype: float64
          # Installation options variations
          - options: 'none'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version || '3.14' }}

      - uses: ./.github/actions/install-deps
        with:
          options: ${{ matrix.options || 'full' }}
          groups: test

      - name: Run tests
        run: uv run pytest -W error tests/unit tests/doc --cov=src --cov-report=xml
        env:
          PYTEST_TORCH_DTYPE: ${{ matrix.dtype || 'float32' }}

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build-doc:
    name: Build doc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.14'

      - uses: ./.github/actions/install-deps
        with:
          groups: doc

      - name: Build Documentation
        working-directory: docs
        run: uv run make dirhtml

  check-links:
    name: Check no link is broken
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --verbose --no-progress "." --exclude-path "docs/source/_templates/page.html"
          fail: true
        env:
          # This reduces false positive due to rate limits
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  mypy:
    name: Run mypy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.14'

      - uses: ./.github/actions/install-deps
        with:
          groups: check

      - name: Run mypy
        run: uv run mypy src/torchjd
