name: Tests

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '41 16 * * *'  # Every day at 16:41 UTC (to avoid high load at exact hour values).

env:
  UV_NO_SYNC: 1

jobs:
  tests-full-install:
    name: Run tests with full install
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false  # Ensure matrix jobs keep running even if one fails
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/install-deps
        with:
          options: full
          groups: test

      - name: Run unit and doc tests with coverage report
        run: uv run pytest -W error tests/unit tests/doc --cov=src --cov-report=xml

      - uses: ./.github/actions/upload-codecov

  tests-default-install:
    name: Run (most) tests with default install
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup

      - uses: ./.github/actions/install-deps
        with:
          groups: test

      - name: Run unit and doc tests with coverage report
        run: |
          uv run pytest -W error tests/unit tests/doc \
          --ignore tests/unit/aggregation/test_cagrad.py \
          --ignore tests/unit/aggregation/test_nash_mtl.py \
          --ignore tests/doc/test_aggregation.py \
          --cov=src --cov-report=xml

      - uses: ./.github/actions/upload-codecov

  tests-float64:
    name: Run tests on float64 dtype
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup

      - uses: ./.github/actions/install-deps
        with:
          options: full
          groups: test

      - name: Run unit and doc tests with coverage report
        run: uv run pytest -W error tests/unit tests/doc --cov=src --cov-report=xml
        env:
          PYTEST_TORCH_DTYPE: float64

      - uses: ./.github/actions/upload-codecov

  build-doc:
    name: Build doc
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup

      - uses: ./.github/actions/install-deps
        with:
          options: full
          groups: doc

      - name: Build Documentation
        working-directory: docs
        run: uv run make dirhtml

  mypy:
    name: Run mypy
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup

      - uses: ./.github/actions/install-deps
        with:
          options: full
          groups: check

      - name: Run mypy
        run: uv run mypy src/torchjd
